{% extends 'base.html' %}
{% load static %}

{% block content %}

    <script src="{% static 'js/dice.js' %}"></script>
    
    <div class="container-fluid">
        <div class="row dice_row">

            <div class="dice_display">
                <div class="six_dice">
                    <svg viewBox="0 0 100 100">
                        <g>
                            <!-- Example of a polygon with the default fill -->
                            <polygon points="5,10 5,55 50,55 50,10"
                            style="stroke: none; fill: #40bcff" />
                            <polygon points="5,10 15,0 60,0 50,10"
                            style="stroke: none; fill: #96daff"/>
                            <polygon points="50,10 60,0 60,45 50,55"
                            style="stroke: none; fill: #2281b5"/>
                            <text fill="black" x="17" y="45" font-family="Verdana" font-size="32">4</text>
                        </g>
                    </svg>
                </div>

                <div class="six_dice">
                    <svg width="60px" height="60px">
                        <g>
                            <!-- Example of a polygon with the default fill -->
                            <polygon points="5,10 5,55 50,55 50,10"
                            style="stroke: none; fill: #40bcff" />
                            <polygon points="5,10 15,0 60,0 50,10"
                            style="stroke: none; fill: #96daff"/>
                            <polygon points="50,10 60,0 60,45 50,55"
                            style="stroke: none; fill: #2281b5"/>
                            <text fill="black" x="17" y="45" font-family="Verdana" font-size="32">4</text>
                        </g>
                    </svg>
                </div>

                <div class="six_dice">
                    <svg width="60px" height="60px">
                        <g>
                            <!-- Example of a polygon with the default fill -->
                            <polygon points="5,10 5,55 50,55 50,10"
                            style="stroke: none; fill: #40bcff" />
                            <polygon points="5,10 15,0 60,0 50,10"
                            style="stroke: none; fill: #96daff"/>
                            <polygon points="50,10 60,0 60,45 50,55"
                            style="stroke: none; fill: #2281b5"/>
                            <text fill="black" x="17" y="45" font-family="Verdana" font-size="32">4</text>
                        </g>
                    </svg>
                </div>
                
            </div>
        </div>    

        <div class="row btn_row" style="margin-top:10px;">
            <button id="btn_roll" class="btn btn-primary btn-sm">Roll Dice</button>
        </div>

        <div class="row bottom_panel" draggable="true" ondrag="dragPanel(event)">
            <span>...</span>
        </div>
    </div>

{% endblock %}